@import "@styles/vars.css";

.tags {
    margin-bottom: 16px;
}

.submitButton {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: 1px solid var(--color-background-tertiary);
}
