@import "@styles/vars.css";

.tagsList {
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    padding: 10px 0px;
    gap: 10px;
}

.tagListItem {
    padding: 8px 5px;
    flex-basis: 150px;
    flex-shrink: 0;
    border: 1px solid var(--color-border-tertiary);
    border-radius: var(--border-radius-lg);
    text-align: center;
}
